@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: black;
  
}
html {
  scroll-behavior: smooth;
}

.cursor-blink {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}